.Registered
{
    background-color: rgb(54, 48, 48);
    width:50%;
    height:50%;
}
  @media only screen and (max-width: 900px) {
    .target
    {
       margin-top:15% !important;
    }
}
.changeOP
{
    animation: 0.4s mymove ease-in-out;
}
@keyframes mymove {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }