

.mainavtr.hide
{
    transition: 0.3s ease-in-out;
    opacity:1;
    z-index:999999;
}
.signinbtn
{
    font-size: 12px !important;
    position:absolute;
    top:18%;
    right:1%;
}
@media only screen and (max-width: 900px) {
    .xxxshowxxx
    {
        display: flex !important;
    }
    .signinbtn
    {
        font-size: 12px !important;
        position:absolute;
        top:18%;
        right:3%;
    }

.hidevideo
{
    display: none !important;
}
.onMob
{
    width:100% !important;
    font-size: 10px;
}
.toLeft
{
    width:40% ;
    left:6.5% !important;
}
.pushUserToRight
{
position: absolute !important;
right: 0px !important;
}
.ShowLogoOnMobile
{    
display: block !important;
position: absolute !important;
left: 2.5%;
top:30%;
}
}
.biggenonhover
{
    background-color: transparent !important;
}
.biggenonhover:hover
{
    transition-duration: 0.3s;
    transform: scale(1.1);
}
.xqqxqxqx
{
    transition-duration: 0.3s;
    transform: scale(1.1);
}
.radiusthis
{
    border-radius: 50% !important;
}
.centerbtns
{
    margin:0 auto !important;
}
@media only screen and (max-width: 520px) {
.toLeft
{
    width:35% !important;
}
}